.clock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: Roboto, arial, sans-serif !important;
}

.clock-card {
    width: auto;
    height: auto;
    background: none;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.clock-card p {
    margin-bottom: 0px;
    font-weight: bold;
}

.hourclass {
    margin: 0px;
}

.secondsclass {
    font-size: 60px;
    margin-top: 18px;
    margin-left: 8px;
}

.dateclass {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width:650px) {

    .dateclass {
        display: none;
    }
}